*~

_build/
bb-files.txt
anki/vic-cloudless
/anki/vic-cloudless
**.DS_Store
/build/cache
/build/gocache
/build/usercache
/anki/vector-cloud
/vm-deps-installed
/anki-deps
/old-toolchain
filesystems/bin/target/mtd-utils/ubi-tests/
/filesystems/bin/target/mtd-utils/ubi-tests/         


